/*здесь должна быть стилизация айди Р1,Р2*/
#P1 p{
font-family:cursive;
font-style:italic;
font-size:30px;
color:red;    
}
#P1{
font-family:cursive;
font-style:italic;
font-size:30px;
color:red; 
}
#P1 span{
color:black;
font-size:20px;     
}
/*второй обзац*/
#P2 p{
font-family:fantasy;
font-style:normal;
font-size:40px;
color:blueviolet;    
}
#P2{
font-family:fantasy;
font-style:normal;
font-size:40px;
color:blueviolet;    
}
#P2 span{
color:aqua;
font-size:30px;     
}
/*третий обзац*/
#P3 p{
font-family:inherit;
font-style: oblique;
font-size:50px;
color:brown;    
}
#P3{
font-family:inherit;
font-style: oblique;
font-size:50px;
color:brown;
}
#P3 span{
font-family:inherit;
font-style: oblique;
font-size:40px;
color:red;   
}